<section class="title">
	<div class="t-text">gaetano violante<span class="t-subtext">a passionate <br class="mobile-newline"/>full stack developer</span></div>
</section>
	
<section class="about-me">
	Full stack developer is cool!<span> Passionate about coding and everything that life’s got to offer. I’ve started my career as Back-end developer, specialized into VB .NET, C#, SQL and expanded my interest in development towards the client-side, HTML(5), Sass, JavaScript.
	I enjoy to the fullest when being involved into the entire life cycle of the web application. Good team player, results oriented, knowledge sharing believer and Agile methodology worker.
	In my free time I do sports e.g. running and biking, being in and around nature. Also love to listen to music. I often prefer relaxing places to big crowds. Thank you so much for visiting my website!
	</span>
</section>

<section class="career">
	<article>
		<span class="career-title">experiences</span>
		<span class="experiences">
			<span class="experience"><span class="date">06/2012-10/2014:</span> SharePoint 2010 Web developer</span>
			<span class="experience"><span class="date">10/2014-03/2017:</span> SharePoint 2013 / .NET Full stack developer</span>
			<span class="experience"><span class="date">03/2017-today:</span> Full stack developer</span>
		</span>
		<span class="experiences-more">Want to know more? <a class="experiences-link" href="https://www.linkedin.com/in/ggviolante/" target="_blank">Let's link!</a></span>
		<a href="https://www.linkedin.com/in/ggviolante/" target="_blank">
			<i class="fa fa-linkedin-square linkedin" aria-hidden="true"></i>
		</a>
	</article><!--
	--><article>
			<span class="career-title">skills</span>
			<div class="skills skills-flex">
				<img src="images/skills/Angular@1x.png" class="skills-icon" />
				<img src="images/skills/HTML@1x.png" class="skills-icon" />
				<img src="images/skills/Javascript@1x.png" class="skills-icon" />
				<img src="images/skills/jQuery@1x.png" class="skills-icon" />
				<img src="images/skills/PHP@1x.png" class="skills-icon" />
				<img src="images/skills/Csharp@1x.png" class="skills-icon" />
				<img src="images/skills/vb@1x.png" class="skills-icon" />
				<img src="images/skills/net@1x.png" class="skills-icon" />
				<img src="images/skills/sql@1x.png" class="skills-icon" />
				<img src="images/skills/sharepoint@1x.png" class="skills-icon" />
				<img src="images/skills/wordpress@1x.png" class="skills-icon" />
				<img src="images/skills/sass@1x.png" class="skills-icon" />
				<img src="images/skills/gulp@1x.png" class="skills-icon" />
				<img src="images/skills/github@1x.png" class="skills-icon" />
				<img src="images/skills/scrum@1x.png" class="skills-icon" />
				<!--css3 js-->
			</div>
	</article>
</section>

<section class="check-it-out">
	
	<img class="headphones-photo" src="images/headphones.png" />
	<div class="headphones-mobile"></div>
	
	<span class="curious">Curious about the stuff I code ?</span>
	<div class="check-it-out-button" ng-click="ActivateTab('right');">
		<!-- LOOK FOR <BIG CHANGE#1> - removed underline when button hovered -->
		<!-- <span class="check-it-out-nostyle"> -->
		<span>check it out</span>
		<!--</span>-->
	</div>
</section>