<span>let's connect</span>
<div class="lets-connect-socials-container">
	<a href="https://www.linkedin.com/in/ggviolante/" target="_blank">
		<i class="fa fa-linkedin-square linkedin lets-connect-social" ng-class="(details||rightActivated) ? 'socialColorHoverOFF' : 'socialColorHoverON'" aria-hidden="true"></i>
	</a>
	<a href="https://github.com/Gaetano1981" target="_blank">
		<i class="fa fa-github-square github lets-connect-social" ng-class="(details||rightActivated) ? 'socialColorHoverOFF' : 'socialColorHoverON'" aria-hidden="true"></i>
	</a>
</div>